<br>
    <h2 class="w-100 text-center"><%= t('history_h') %> </h2>
    <h3  class="w-100 text-center"> <%= t('history_p') %> </h3>
 
<div class="card card-profile ml-auto mr-auto" style="max-width: 500px">
 <div class="card-body ">
        <h3 class="card-category text-dark">
            1. <%= t('history_instr1') %>
        </h3>
    </div>
  <div class="card-header card-header-image">
       
            <%= image_tag("/img/1.jpg", class: " img") %>
      
    </div>
   
</div>
<br>
<br>

<div class="card card-profile ml-auto mr-auto" style="max-width: 500px">
<div class="card-body ">
        <h3 class="card-category text-dark">
            2. <%= t('history_instr2') %>
        </h3>
    </div>
  <div class="card-header card-header-image">
        
            <%= image_tag("/img/2.jpg", class: " img") %>
        
    </div>
    
</div>
