<% if !person_signed_in? %>

                            

<table class="table__for__center" >
  <tbody>
    <tr>
      <td class="align-middle">
        <div class="text-center">
            <h3 class="jumbotron-heading"><%= t('problem1') %>. <%= t('problem2') %></h3>
                                <div class="col-12 text-center">
                                    <%= t('free') %>
                                </div>
                                <p>
                                    <%= link_to t('sign_up'), new_person_registration_path, class: 'btn btn-primary' %>
                                    <%= link_to t('login'), new_person_session_path, class: "btn btn-info" %>
                                </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
    
<% else %>
<% @soldcount = 0 %>
    <% @coins.each do |coin| %>
      <% if coin.person_id == current_person.id %>
        <% if coin.cost_per_sold.blank? %>  
        <% else %>
            <% @soldcount += 1 %>
        <% end %>
      <% end %>
    <% end %> 
    <!-- Render content -->  
    <% if (@soldcount >= 1) %>
    <!-- If User have coin --> 
      <%= render 'static_pages/home_have_coin' %>
    <% else %>
    <!-- If User did't coin --> 
      <%= render 'static_pages/home_have_not_coin' %>
    <% end %>
<% end %>
