
<div class="row">
  <div class="col-md-4">
  </div>
<div class="col-md-4 text-center">
<br>
  <div class="card card-signup p-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:class => 'form-signin'}) do |f| %>     
      <div class="form-signin">
        <%= image_tag("/img/bitcoin.svg", class: "mb-4", height: '72', width: '72') %>
          <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
      </div>
      <div class="form-label-group">
        <!--  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""> -->
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control' %>
      </div>
      <br>
      <div class="form-label-group">
        <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""> -->
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      </div>
      <div class="form-label-group">
        <div class="checkbox mb-3">
          <br>
          <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
      <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
 <%= f.submit "Log in", :class => 'btn btn-lg btn-primary btn-block' %>
    </form>
    </div>
    <div class="col-md-4">
    </div>
     </div>
<% end %>


