<!DOCTYPE html>
<html>
  <head>
    <title> <%= t('problem1') %>. <%= t('problem2') %></title>
   <meta name="theme-color" content="#9c27b0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>



<%= render 'home/navbar' %>


<div id='mainContainer' class="container">
        <%= render 'home/flash' %>
        <%= yield %>
</div>
<footer class="footer" data-background-color="black">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                  <!--  <a href="http://codebypasha.com/" target="_blank"><i class="material-icons">toys</i> Code By Pasha</a> -->
            </li>
        </div>
    </div>
</footer>




<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
 <!-- Hide notisfaction after 2 sec -->
  <script>
    jQuery(document).ready(function($) { 
        setTimeout(openPopup, 2000);
        function openPopup(){
            $( ".alert" ).slideUp( "slow");
        };
        $(".navbar a").click(function(){
            $(".nav-open").removeClass("nav-open");
            console.log("HHHH");
            });     
    });
    // Input only english words
    
    $("#coin_symbol").keypress(function(){
  if ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)) {
      
  }
  else {
  $( "#no_eng" ).remove();
   $( "#coin_symbol" ).after( "<p id='no_eng'>Пожалуйста, вводите название на английском языке </p>" );
   
   function timerHide(){
  $( "#no_eng" ).slideUp(400);
}
setTimeout(timerHide, 2000);
  return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57);
 
   
  };
  

  });
</script>

<!-- -->
 
 <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter49116646 = new Ya.Metrika2({
                    id:49116646,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/49116646" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  </body>  
</html>