
<div class="card">
  <div class="card-body">
<h1 class="text-uppercase text-center">Portfolio summary:</h1>
<div class="row">
  <div class="col-md-6 pb-5">
    <canvas id="myChart" width="100%" height="100%"></canvas>
  </div>
  <div class="col-md-6">
  <div class="rounded bg-info m-3 p-2">
      <div class="card-body">
        <h5 class="text-uppercase font-weight-bold text-white mt-3 mb-3">
            Money amount:<br> <span class="portfSummText"> $ </span><span class="portfSummText" id="moneyPortfAmount"><%= @profit_summ %></span> 
        </h5>  
      </div>
    </div>
  <div id='wrapPortfSumm' class="rounded m-3 p-2">
      <div class="card-body">
        <h5 class="text-uppercase font-weight-bold text-white mt-3 mb-3">
            Portfolio profit / lost:<br> <span class="portfSummText"> $</span> <span class="portfSummText" id="moneyPortfLost"><%= @profit_lost %> </span>
        </h5>  
      </div>
    </div>
    
  </div>
</div>

<div class="row ">
 <% @coins.each do |coin| %>
  <% if coin.person_id == current_person.id %>
    <% if coin.symbol %>
      <% coin.symbol = coin.symbol.upcase %>
    <% end %>
    <% for x in @lookup_coins %> 
      <% if coin.symbol == x["symbol"] %>
      <div class="col-md-6 wrap__each__coin">
        <div class="card card-nav-tabs">
          <div class="card-header card-header-primary text-uppercase coin__name">
            
            <%= x["name"] %>
          </div>
          <div class="card-body">
          <div class="row">
             <div class="col-4">
                
                <div class="change__value">
                  <span class="badge"> <p> change 7d </p>
                  <p class="change__val"><%=  x["percent_change_7d"] %></p>  <i class="material-icons">trending_up</i></span>    
                </div>
              </div>
              <div class="col-4">
                
                <div class="change__value">
                  <span class="badge"> <p> change 24h </p>
                   <p class="change__val"><%=  x["percent_change_24h"] %></p>  <i class="material-icons">trending_up</i></span>    
                </div>
              </div>
              <div class="col-4">
                <div class="change__value">
                  <span class="badge"> <p> change 1h </p>
                   <p class="change__val"><%=  x["percent_change_1h"]  %></p>  <i class="material-icons">trending_up</i></span>    
                </div>
              </div>
              
              
            </div>
            <div class="text-white bg-info p-2 mt-2 curr__value__coin">The current value of coins: $<span><%=  x["price_usd"].to_d * coin.amount_owned  %></span></div>
            <div class="footer text-center coin__item__wrap">
            <%= link_to 'Show', coin, class: "btn btn-info btn-just-icon btn-fill btn-round animated fadeIn" %>
            <%= link_to 'Edit', edit_coin_path(coin), class: "btn btn-success btn-just-icon btn-fill btn-round btn-wd animated fadeIn" %>
            <%= link_to 'Destroy', coin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-just-icon btn-fill btn-round animated fadeIn" %>
                   
                </div>
          </div>
        </div>
      </div>
      <script>
    jQuery(document).ready(function($) { 
        $(".coin__item__wrap a.btn-info").html('<i class="material-icons">subject</i>');
        $(".coin__item__wrap a.btn-success").html('<i class="material-icons">mode_edit</i>');
        $(".coin__item__wrap a.btn-danger").html('<i class="material-icons">delete</i>');
        // Change color depends value
        $( ".change__value .badge" ).each(function() {
          var value = $(this).find(".change__val");
          var value = value.text();
            if(value >= 0) {
              $(this).addClass('badge-success');
            }
            else {
              $(this).addClass('badge-danger');
              $(this).find(".material-icons").text('trending_down');
            }
        });
        // Change color Summary
        var value = $( "#wrapPortfSumm #moneyPortfLost");
        var value = value.text();
        if(value >= 0) {
              $('#wrapPortfSumm').addClass('bg-success');
            }
            else {
              $('#wrapPortfSumm').addClass('bg-danger');
            }
});
</script>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>  <!-- Close row tag -->
</div>
</div>  <!-- Close MainCart (Wrap) -->



<%= link_to 'New Coin', new_coin_path %>






<script>
jQuery(document).ready(function($) {
  var coinsNames = [];
  var coinsSummary = [];

  $( ".wrap__each__coin" ).each(function() {
      // For Name
       var coinName = $(this).find(".coin__name");
       var coinName = coinName.text();
       coinsNames.push(coinName);
       // For value
       var coinSumm =  $(this).find(".curr__value__coin > span").text() ;
       coinsSummary.push(coinSumm);
       
    });
    console.log('>>>>' + coinsSummary[0]);
    console.log('>>>>' + coinsSummary[1]);
   
  
  
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: coinsNames,
          datasets: [{
              label: '# of Votes',
              data: coinsSummary,
              backgroundColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },

  });
});
</script>
