

<h1>Coins</h1>

<table>
  <thead>
    <tr>
    <th> Name </th>
    <th>Текущая цена </th>
    <th>Сумма</th>
     
      
      <th>Cost per</th>
      <th>Amount owned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @coins.each do |coin| %>
    <% if coin.person_id == current_person.id %>
<% if coin.symbol %>

  <% coin.symbol = coin.symbol.upcase %>
<% end %>
<tr>
<% for x in @lookup_coins %>  
        <% if coin.symbol == x["symbol"] %>
          <td>  <%= x["name"] %> </td>
          <td>  $ <%=  x["price_usd"]  %></td>
          <td>  $<%=  x["price_usd"].to_d * coin.amount_owned  %></td>
        <% end %>
<% end %>



      
         
       
        <td>$ <%= coin.cost_per %></td>
        <td><%= coin.amount_owned %></td>
        <td><%= link_to 'Show', coin %></td>
        <td><%= link_to 'Edit', edit_coin_path(coin) %></td>
        <td><%= link_to 'Destroy', coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coin', new_coin_path %>
