

<table>
  <thead>
    <tr>
    <th>Название</th>
    <th>Текущая цена монеты </th>
  
    
    <th>Рейтинг валюты</th>
    <th>Изменение за 1 час</th>
    <th>Изменение 1 день</th>
    <th>Изменение 7 дней</th>
    <th>Сумма</th>
    <th>Всего заплаченно</th>
    <th>Доход/Расход</th>
     
      
      <th>Цена покупки</th>
      <th>Количество монет</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @coins.each do |coin| %>
    <% if coin.person_id == current_person.id %>
<% if coin.symbol %>

  <% coin.symbol = coin.symbol.upcase %>
<% end %>
<tr>
<% for x in @lookup_coins %>  
        <% if coin.symbol == x["symbol"] %>
          <td>  <%= x["name"] %> </td>
          <td>  $ <%=  x["price_usd"]  %></td>
          <td>  <%=  x["rank"]  %></td>

<td>   <%=  x["percent_change_1h"]  %> %</td>
<td>   <%=  x["percent_change_24h"] %> %</td>
<td>   <%=  x["percent_change_7d"]  %> %</td>


          <td>  $<%=  x["price_usd"].to_d * coin.amount_owned  %></td>
          <td>  $<%=  coin.cost_per * coin.amount_owned  %></td>
          <td>  $<%= x["price_usd"].to_d * coin.amount_owned - (coin.cost_per * coin.amount_owned)  %></td>
        <% @profit_lost += (x["price_usd"].to_d * coin.amount_owned) - (coin.cost_per * coin.amount_owned)  %>
        <% @profit_summ += x["price_usd"].to_d * coin.amount_owned  %>
        <% end %>
<% end %>


 
         
       
        <td>$ <%= coin.cost_per %></td>
        <td><%= coin.amount_owned %></td>
        <td><%= link_to 'Show', coin %></td>
        <td><%= link_to 'Edit', edit_coin_path(coin) %></td>
        <td><%= link_to 'Destroy', coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>
Portfolio profit/lost:  $ <%= @profit_lost %>
<br>

<br>
Money amount:  $ <%= @profit_summ %>
<br>
<br>
<%= link_to 'New Coin', new_coin_path %>


